# Ignore IntelliJ IDEA files
.idea/

# Ignore VS Code settings
.vscode/

# Ignore environment variables in all subdirectories
**/.env

# Ignore node_modules folder in all subdirectories
**/node_modules/

# Ignore Maven build artifacts
target/

# Ignore development certificates and keys
dev/tls/
